[submodule "modelGrow"]
	path = modelGrow
	url = https://github.com/ustbmicl-sirr/modelGrow.git
[submodule "modelST"]
	path = modelST
	url = https://github.com/ustbmicl-sirr/modelST.git
[submodule "MARL-tasks"]
	path = MARL-tasks
	url = https://github.com/ustbmicl-sirr/MARL-tasks.git
[submodule "split-cinference"]
	path = split-cinference
	url = https://github.com/ustbmicl-sirr/split-cinference.git
[submodule "kdViT"]
	path = kdViT
	url = https://github.com/ustbmicl-sirr/kdViT.git
[submodule "fjsp-EA-RL"]
	path = fjsp-EA-RL
	url = https://github.com/ustbmicl-sirr/fjsp-EA-RL.git
[submodule "importanceExitSplit"]
	path = importanceExitSplit
	url = https://github.com/ustbmicl-fedDis-modelAcc/importanceExitSplit.git
